@using Inventory_PLM.Enums
@model Inventory_PLM.Models.SalesOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalesOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoreLocation" class="control-label"></label>
                <input asp-for="StoreLocation" class="form-control" />
                <span asp-validation-for="StoreLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Order Status</label>
                <select asp-for="Status" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(OrderStatus)))
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label">Payment Status</label>
                <select asp-for="PaymentStatus" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(PaymentStatus)))
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
